:root {
  color-scheme: light dark;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  touch-action: auto;
  scrollbar-gutter: stable;
  scroll-behavior: smooth;
}

body {
  font-family: 'SN Pro', system-ui, sans-serif;
}

button,
input {
  font-family: inherit;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  min-height: 100dvh;

  padding: 0;
  margin: 0;

  color: var(--clr-text);

  overflow-y: auto;
  overflow-x: hidden;
}

body::before {
  content: '';

  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  min-height: 100vh;

  background: var(--clr-crust);
  background: var(--clr-gradient-bg);
  background-attachment: fixed;

  mix-blend-mode: multiply;

  z-index: -1;
}

body::after {
  content: '';

  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  min-height: 100vh;

  background-attachment: fixed;

  opacity: var(--bg-pattern-opacity);

  z-index: -2;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 1200px;
  width: 100%;
}
