:root {
  /* Colors based on the Catppuccin theme. */
  /* https://catppuccin.com/palette/ */

  /*** Base Colors ***/
  --clr-rosewater: hsl(10deg, 56%, 91%);
  --clr-flamingo: hsl(0deg, 59%, 88%);
  --clr-pink: hsl(316deg, 72%, 86%);
  --clr-mauve: hsl(267deg, 84%, 81%);
  --clr-red: hsl(343deg, 81%, 75%);
  --clr-maroon: hsl(350deg, 65%, 77%);
  --clr-peach: hsl(23deg, 92%, 75%);
  --clr-yellow: hsl(41deg, 86%, 83%);
  --clr-green: hsl(115deg, 54%, 76%);
  --clr-teal: hsl(170deg, 57%, 73%);
  --clr-sky: hsl(189deg, 71%, 73%);
  --clr-sapphire: hsl(199deg, 76%, 69%);
  --clr-blue: hsl(217deg, 92%, 76%);
  --clr-lavender: hsl(232deg, 97%, 85%);

  --clr-text: hsl(226deg, 64%, 88%);
  --clr-subtext-1: hsl(227deg, 35%, 80%);
  --clr-subtext-2: hsl(228deg, 24%, 72%);

  --clr-overlay-2: hsl(228deg, 17%, 64%);
  --clr-overlay-1: hsl(230deg, 13%, 55%);
  --clr-overlay-0: hsl(231deg, 11%, 47%);

  --clr-surface-2: hsl(233deg, 12%, 39%);
  --clr-surface-1: hsl(234deg, 13%, 31%);
  --clr-surface-0: hsl(237deg, 16%, 23%);

  --clr-base: hsl(240deg, 21%, 15%);
  --clr-mantle: hsl(240deg, 21%, 12%);
  --clr-crust: hsl(240deg, 23%, 9%);

  /*** UI Colors ***/
  --clr-primary: var(--clr-blue);
  --clr-secondary: var(--clr-teal);
  --clr-tertiary: var(--clr-lavender);

  --clr-success: var(--clr-green);
  --clr-warning: var(--clr-yellow);
  --clr-error: var(--clr-red);

  /*** Gradients ***/
  --clr-primary-gradient: rgba(138, 173, 244, 0.2);
  --clr-tertiary-gradient: rgba(198, 160, 246, 0.2);

  --clr-gradient-bg: radial-gradient(
      circle at 0% 0%,
      var(--clr-tertiary-gradient) 0%,
      transparent 50%
    ),
    radial-gradient(
      circle at 98% 1%,
      var(--clr-primary-gradient) 0%,
      transparent 50%
    ),
    var(--clr-mantle);

  --bg-pattern-opacity: 1;
}
